<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>SocketIO example</title>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
      <script src="https://cdn.socket.io/4.0.1/socket.io.min.js" integrity="sha384-LzhRnpGmQP+lOvWruF/lgkcqD+WDVt9fU3H4BWmwP5u5LTmkUGafMcpZKNObVMLU" crossorigin="anonymous"></script>
      <script type="text/javascript">
         $(document).ready(function() {

           // sending a connect request to the server.
            var socket = io.connect('http://127.0.0.1:5000');

            socket.on('after connect', function(msg) {
               console.log('After connect', msg);
               $('#log').append('<br>' + $('<div/>').text('Received: ' + msg.data).html());
            });

            socket.on('response', function(msg){
                if(msg.data.success){
                    console.log('SUCCESS');
                    $('#log').append('<br>' + $('<div/>').text('Transaction ID: ' + msg.data.trx_id).html());
                } else {
                    console.log('fail');
                    $('#log').append('<br>' + $('<div/>').text('Error: ' + msg.data.trx_id).html());
                }
            });

            $("#hitIt").on("click", function(){
                console.log($("#url").val());
                socket.send($("#url").val());
            });

            $("#spamIt").on("click", function(){
                console.log('spam');
                var message = "";
                for (i = 0; i < 4; i++) {
                    message = "HOW_FAST_CAN_THIS_GO "+ i ;
                    console.log(message);
                    var spamsocket = io.connect('http://127.0.0.1:5000');
                    spamsocket.send(message);
                };
            });


         });
      </script>
   </head>
   <body>
    <h1>SocketIO Example</h1>
    <h2>Receive:</h2>
    <input type="text" id="url">
    <button id="hitIt">Submit</button>
    <button id="spamIt">Spam Me Baby</button>
    <div id="log"></div>
   </body>
</html>